<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- This is only needed to put log4net tag or trace log4net error in web.config https://csharp.today/log4net-tutorial-great-library-for-logging/ -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="e:\google drive\mvc4\mvc4apptestwebapi\com.minsoehanwin.sample.Wcf.RestfulService\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="e:\google drive\mvc4\mvc4apptestwebapi\com.minsoehanwin.sample.Wcf.RestfulService\web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <!-- to trace log4net error also uncomment appSetting section http://stackoverflow.com/questions/756125/how-to-track-down-log4net-problems -->
    <!--
    <trace autoflush="false">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\Temp\log4net.txt" />
      </listeners>
    </trace>
    -->
  </system.diagnostics>
  <connectionStrings>
    <add name="MyDataContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=Mvc4Test;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- to trace log4net error also enable system.dianogsis section http://stackoverflow.com/questions/756125/how-to-track-down-log4net-problems -->
    <!-- <add key="log4net.Internal.Debug" value="true" /> -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms"/>
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- http://stackoverflow.com/questions/3781512/wcf-4-0-webmessageformat-json-not-working-with-wcf-rest-template-->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service behaviorConfiguration="authBehavior" name="com.minsoehanwin.sample.Wcf.Service.EmployeeRestfulService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="MyWebHttpBinding" contract="com.minsoehanwin.sample.Wcf.Service.IEmployeeRestfulService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="authBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500"/>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="com.minsoehanwin.sample.Wcf.Service.IdentityValidator, com.minsoehanwin.sample.Wcf.Service"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="com.minsoehanwin.sample.Wcf.Service.RoleAuthorizationManager, com.minsoehanwin.sample.Wcf.Service"/>
          <!--<serviceAuthenticationManager authenticationSchemes="Basic"/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <!--<webHttp automaticFormatSelectionEnabled="false"
                   defaultBodyStyle="Bare"
                   defaultOutgoingResponseFormat="Json"
                   faultExceptionEnabled="true"
                   helpEnabled="true" />-->
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="MyWebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" writeEncoding="utf-8" transferMode="Buffered">
          <security mode="Transport">
            <!--<transport clientCredentialType="Basic" />-->
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add scheme="https" binding="webHttpBinding"/>
    </protocolMapping>
    <diagnostics>
      <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false" logMalformedMessages="true" logEntireMessage="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500"/>
    </diagnostics>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <log4net>
    <!-- http://www.adamtuliper.com/2012/12/logging-complete-objects-with-log4net.html -->
    <renderer renderedClass="System.Object" renderingClass="com.minsoehanwin.sample.Helper.Log4NetObjectLogger, com.minsoehanwin.sample.Helper"/>
    <!-- see log4net tutorial in https://csharp.today/log4net-tutorial-great-library-for-logging/ -->
    <!-- http://stackoverflow.com/questions/24403351/rollover-on-log4net -->
    <root>
      <level value="ALL"/>
      <!-- enable one or more to log files
      <appender-ref ref="MyAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
      <appender-ref ref="DebugRollingFileAppender" />
      <appender-ref ref="InfoWarnRollingFileAppender" />
      <appender-ref ref="InfoFatalRollingFileAppender" />
      -->
      <appender-ref ref="FileAppenderXml"/>
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="MyFileAppender" type="log4net.Appender.FileAppender">
      <file value="log/application.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/App.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Error.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Debug.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="DEBUG"/>
      </filter>
    </appender>
    <appender name="InfoWarnRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/InfoWarn.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="WARN"/>
      </filter>
    </appender>
    <appender name="InfoFatalRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/InfoFatal.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <!-- http://yalv.codeplex.com/documentation -->
    <appender name="FileAppenderXml" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/Application.log.xml"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd-HH-mm"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
      <param name="Encoding" value="utf-8"/>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>