@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "You can reach us via the following address.";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        No. 160(B), 2nd floor<br />
        Ba Yint Naung ST, Thuwunna, Thingungyun Township<br />
        Yangon, Myanmar
    </address>

    <address>
        <i class="icon-envelope"></i><strong>For all matters please contact us via:</strong>   <a href="mailto:tharlikar@gmail.com">tharlikar@gmail.com</a>
        <br />
        <i class="icon-envelope"></i><strong>or call us at:</strong>   +95 9798441018
    </address>
</div>