<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- https://csharp.today/log4net-tutorial-great-library-for-logging/ -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="MyDataContext" providerName="System.Data.SqlClient" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=Mvc4Test;Integrated Security=True;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <!-- http://www.tutorialspoint.com/entity_framework/entity_framework_command_interception.htm -->
    <!--
    <interceptors>
      <interceptor type = "com.minsoehanwin.sample.Repositories.EF.MyCommandInterceptor, com.minsoehanwin.sample.Repositories.EF"/>
    </interceptors>
    -->
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="e:\google drive\mvc4\mvc4apptestwebapi\com.minsoehanwin.sample.Wcf.API\web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="e:\google drive\mvc4\mvc4apptestwebapi\com.minsoehanwin.sample.Wcf.API\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--
    <add key="owin:AutomaticAppStartup" value="false" />
    -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" maxQueryStringLength="7000"/>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
      <trustLevel name="High" policyFile="web_hightrust.config"/>
      <trustLevel name="Medium" policyFile="web_mediumtrust.config"/>
      <trustLevel name="Low" policyFile="web_lowtrust.config"/>
      <trustLevel name="Minimal" policyFile="web_minimaltrust.config"/>
    </securityPolicy>
    <trust level="Full" originUrl="" processRequestInApplicationTrust="true"/>
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="ShwBasicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="ShwBasicHttpsBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpsBinding>
    </bindings>
    <diagnostics>
      <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false" logMalformedMessages="true" logEntireMessage="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyMexBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="authBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="com.minsoehanwin.sample.Wcf.Service.IdentityValidator, com.minsoehanwin.sample.Wcf.Service" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="com.minsoehanwin.sample.Wcf.Service.RoleAuthorizationManager, com.minsoehanwin.sample.Wcf.Service" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="authBehavior" name="com.minsoehanwin.sample.Wcf.Service.EmployeeService">
        <endpoint address="http://localhost:27120/WcfAPI/EmployeeServiceAddr1" binding="basicHttpBinding"
          bindingConfiguration="" name="ShwEmployeeServiceEndpointForBasicHttpBinding"
          contract="com.minsoehanwin.sample.Wcf.Service.IEmployeeService" />
        <endpoint address="mex" binding="mexHttpBinding" name="ShwEmployeeServiceMetaDataEndpointForMexHttpBinding"
          contract="IMetadataExchange" />
        <endpoint address="https://localhost:44301/WcfAPI/EmployeeServiceAddr2" binding="basicHttpsBinding"
          bindingConfiguration="" name="ShwEmployeeServiceEndpointForBasicHttpsBinding"
          contract="com.minsoehanwin.sample.Wcf.Service.IEmployeeService" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="https://localhost" />
            <add baseAddress="https://www.minsoehanwin.org" />
            <add baseAddress="https://localhost:44301" />
            <add baseAddress="http://localhost" />
            <add baseAddress="http://localhost:27120" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <!-- http://www.adamtuliper.com/2012/12/logging-complete-objects-with-log4net.html -->
    <renderer renderedClass="System.Object" renderingClass="com.minsoehanwin.sample.Helper.Log4NetObjectLogger, com.minsoehanwin.sample.Helper"/>
    <!-- see log4net tutorial in https://csharp.today/log4net-tutorial-great-library-for-logging/ -->
    <!-- http://stackoverflow.com/questions/24403351/rollover-on-log4net -->
    <root>
      <level value="ALL"/>
      <!-- enable one or more to log files
      <appender-ref ref="MyAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
      <appender-ref ref="DebugRollingFileAppender" />
      <appender-ref ref="InfoWarnRollingFileAppender" />
      <appender-ref ref="InfoFatalRollingFileAppender" />
      -->
      <appender-ref ref="FileAppenderXml"/>
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="MyFileAppender" type="log4net.Appender.FileAppender">
      <file value="log/application.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/App.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Error.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Debug.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="DEBUG"/>
      </filter>
    </appender>
    <appender name="InfoWarnRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/InfoWarn.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="WARN"/>
      </filter>
    </appender>
    <appender name="InfoFatalRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/InfoFatal.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd}|@|%date{HHmmssfff}|@|%date|@|%thread|@|%level|@|%logger|@|%C.%M|@|%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <!-- http://yalv.codeplex.com/documentation -->
    <appender name="FileAppenderXml" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/Application.log.xml"/>
      <appendToFile value="true"/>
      <datePattern value=".yyyy-MM-dd-HH-mm"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
      <param name="Encoding" value="utf-8"/>
    </appender>
  </log4net>
</configuration>